#cheatMenu {
    position: fixed;
    top: -100%; /* Initially off-screen */
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    color: #000;
    z-index: 10000;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
    transition: top 0.3s ease-in-out; /* Smooth transition */
}
#cheatMenu.visible {
    top: 0; /* Slide in from the top */
}
#cheatMenu.hidden {
    top: -100%; /* Slide out towards the top */
}
#cheatMenu.hiding {
    animation: slideUp 0.3s ease-in-out; /* Slide up animation */
}
@keyframes slideUp {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}
#cheatMenu h1 {
    text-align: center;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cheatMenu .section {
    margin: 20px 0;
}
#cheatMenu .section h2 {
    color: #444;
    margin-bottom: 10px;
}
#cheatMenu .section div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
#cheatMenu button, #cheatMenu label {
    padding: 10px;
    background: #3498db;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    min-width: 150px;
    margin: 5px;
}
#cheatMenu button:hover, #cheatMenu label:hover {
    background: #2980b9;
}
#toggleMenu {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #fff;
    color: #000;
    padding: 10px;
    cursor: pointer;
    z-index: 10001;
    border: 1px solid #000;
    transition: transform 0.3s ease; /* Smooth transition for transform */
}
#toggleMenu.rotated {
    transform: rotate(180deg); /* Rotate the arrow 180 degrees */
}
.swal2-container {
    z-index: 10001 !important;
}
.swal2-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.toggle-switch {
    display: inline-block;
    height: 30px;
    width: 60px;
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}
.toggle-switch::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3
